@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-default: 'Barlow', sans-serif;
    --font-condensed: 'Barlow Condensed', sans-serif;
    --font-monospace: monospace;
    --dark: #2C2C2C;
    --mid-dark: #5A5A5A;
    --light: #E4E4E4;
    --white: #fcfcfc;
    --black: #050505;

    --primary: #56b7ec;
    --primary-hover: #418cb5;
    --success: #6DE28E;
    --success-hover: #1e9b41;
    --danger: #df4848;
    --danger-hover: #9b1e1e;
    --grey: #707070;
    --taubmans-light-bulb: #ffbb73;

}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-default);
    margin: 0;
    padding: 0;
}

// Typography

.text{
    // category
    &.condensed{
        font-family: var(--font-condensed);
    }
    &.monospace{
        font-family: var(--font-monospace);
    }
    &.hyperlink{
        color: #2b56a0;
    }
    // styles
    &.body{
        font-size: 100%;
        opacity: 80%;
        font-weight: 300;
    }
    &.caption{
        font-size: 110%;
        opacity: 80%;
        font-weight: 300;
    }
    &.subtitle{
        font-size: 115%;
        opacity: 95%;
        font-weight: 500;
    }
    &.title{
        font-size: 120%;
        opacity: 95%;
        font-weight: 500;
    }
    &.muted{
        font-size: 70%;
        opacity: 50%;
        font-weight: 150;
    }
}


// Colors

.theme{
    transition: background-color 50ms linear;
    -moz-transition: background-color 50ms linear;
    &.light{
        background-color: var(--light);
        color: var(--black);
    }

    &.dark{
        background-color: var(--dark);
        color: var(--white);
    }
}

.bg{
    &.primary{
        background: var(--primary);
        color: var(--black);
        &.button:hover, &.reactive:hover{
            background: var(--primary-hover);
            color: var(--white);
        }
    }
    &.success{
        background: var(--success);
        color: var(--black);
        &.button:hover, &.reactive:hover{
            background: var(--success-hover);
            color: var(--white);
        }
    }
    &.danger{
        background: var(--danger);
        color: var(--white);
        &.button:hover, &.reactive:hover{
            background: var(--danger-hover);
            color: var(--white);
        }
    }
    &.dark{
        background: var(--dark);
        color: var(--white);
        &.button:hover, &.reactive:hover{
            background: var(--black);
            color: var(--white);
        }
    }
    &.light{
        background: var(--light);
        color: var(--black);
        &.button:hover, &.reactive:hover{
            background: var(--white);
        }
    }
    &.mid{
        background: var(--grey);
        color: var(--white);
        &.button:hover, &.reactive:hover{
            background: var(--mid-dark);
            color: var(--white);
        }
    }
}
// Layout
.flex{
    display: flex;
    // row or column
    &.row, .row{
        flex-direction: row;
    }
    &.column, .column{
        flex-direction: column;
        // since columns flip the names
        &.left{
            align-items: flex-start;
        }
        &.right{
            align-items: flex-end;
        }
        &.center-x{
            align-items: center;
        }
        &.top{
            justify-content: left;
        }
        &.center-y{
            justify-content: center;
        }
        &.bottom{
            justify-content: right;
        }
    }

    // justify & align
    .space-between{
        justify-content: space-between;
    }
    .space-around{
        justify-content: space-around;
    }
    .space-evenly{
        justify-content: space-evenly;
    }
}

.top{
    align-items: flex-start;
}
.bottom{
    align-items: flex-end;
}
.center-y{
    align-items: center;
}
.left{
    justify-content: left;
}
.center-x{
    justify-content: center;
}
.right{
    justify-content: right;
}

//quick align
.center-xy{
    align-items: center;
    justify-content: center;
}

// Components
.container{
    display: flex;
    flex-direction: column;
    padding: 4%;
    margin: 0;
    box-sizing: border-box;
    gap: 10px;
    &.fluid{
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 4% 0%;
    }
    &.fill-height{
        height: 100%;
    }
    &.fill-width{
        width: 100%;
    }
    &.fill-screen{
        height: 100vh;
    }
}

.toast{
    width: unset;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 4px;
    border-radius: 2px;
    .title{
        font-size: 110%;
        font-weight: 500;
    }
    &.dismissible{
        .cross{
            display: block;
        }
    }
    .cross{
        cursor: pointer;
        display: none;
    }
    .fluid{
        width: 100%;
        margin: 0;
    }

    &[data-position="top"]{
        width: 100%;
        position: absolute;
        top: 0;
        margin-top: 0;
    }

    &[data-position="bottom"]{
        width: 100%;
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
    }

    &[data-visible=false]{
        display: none;
    }
    &[data-visible=true]{
        display: flex;
    }
}

.button {
    cursor: pointer;
    color: inherit;
    padding: 1%;
    text-decoration: none;
    font-family: var(--ft-condensed);
    font-size: 120%;
    font-weight: 500;
    border-radius: 2px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--black);
    background-color: var(--primary);
    &:hover{
        background-color: var(--primary-hover);
        color: white;
    }
    //variants
    &.outlined{
        padding: 1%;
        background: transparent;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 0px 0px 0px 3px var(--black) inset;
        box-shadow: 0px 0px 0px 3px var(--black) inset;
        &.primary{
            -webkit-box-shadow: 0px 0px 0px 3px var(--primary) inset;
            box-shadow: 0px 0px 0px 3px var(--primary) inset;
            color: var(--primary);
        }
        &.success{
            -webkit-box-shadow: 0px 0px 0px 3px var(--success) inset;
            box-shadow: 0px 0px 0px 3px var(--success) inset;
            color: var(--success);
        }
        &.danger{
            -webkit-box-shadow: 0px 0px 0px 3px var(--danger) inset;
            box-shadow: 0px 0px 0px 3px var(--danger) inset;
            color: var(--danger);
        }
        &.dark{
            -webkit-box-shadow: 0px 0px 0px 3px var(--dark) inset;
            box-shadow: 0px 0px 0px 3px var(--dark) inset;
            color: var(--dark);
        }
        &.light{
            -webkit-box-shadow: 0px 0px 0px 3px var(--light) inset;
            box-shadow: 0px 0px 0px 3px var(--light) inset;
            color: var(--light);
        }
        &.mid{
            -webkit-box-shadow: 0px 0px 0px 3px var(--grey) inset;
            box-shadow: 0px 0px 0px 3px var(--grey) inset;
            color: var(--grey);
        }
    }
    &.outlined:hover {
        -webkit-box-shadow: 0px 0px 0px 3px var(--primary-hover) inset;
        box-shadow: 0px 0px 0px 3px var(--primary-hover) inset;
        color: var(--primary-hover);
    }
}

.icon-button {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--primary);
    color: black;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 100ms ease;
    transition: all 100ms ease;
    &:hover {
         width: 150px;
        -webkit-transition: all 100ms ease;
        transition: all 100ms ease;
        background-color: var(--hover);
        color: white;
    }
    .label {
        font-family: var(--font-condensed);
        font-size: 90%;
        font-weight: 500;
        -webkit-transition: all 100ms ease;
        transition: all 100ms ease;
    }
    &:hover .label:before {
      margin: 0 10px;
      content: attr(data-label);
      -webkit-transition: all 100ms ease;
      transition: all 100ms ease;
    }
  }


// Responsive Mobile - 
@media screen and (max-width: 900px){
    .button{
        padding: 2%;
        &.outlined{
            padding: 3%;
        }
    }

}


// Desktop Only - 
@media screen and (min-width: 901px){
    .button{
        &.outlined{ 
            background: -webkit-gradient(linear, left top, right top, color-stop(0, var(--primary-hover)), to(transparent));
            background: linear-gradient(to right, var(--primary-hover) 0 calc(50%), transparent calc(50%) 100%);
            background-size: 250% 100%;
            background-position: 100% 50%;
            -webkit-transition: 300ms all;
            transition: 300ms all;
            &.dark{
                background: -webkit-gradient(linear, left top, right top, color-stop(0, var(--black)), to(transparent));
                background: linear-gradient(to right, var(--black) 0 calc(50%), transparent calc(50%) 100%);
                background-size: 250% 100%;
                background-position: 100% 50%;
            }
            &.light{
                background: -webkit-gradient(linear, left top, right top, color-stop(0, var(--white)), to(transparent));
                background: linear-gradient(to right, var(--white) 0 calc(50%), transparent calc(50%) 100%);
                background-size: 250% 100%;
                background-position: 100% 50%;
            }
            &.mid{
                background: -webkit-gradient(linear, left top, right top, color-stop(0, var(--mid-dark)), to(transparent));
                background: linear-gradient(to right, var(--mid-dark) 0 calc(50%), transparent calc(50%) 100%);
                background-size: 250% 100%;
                background-position: 100% 50%;
            }
            &.success{
                background: -webkit-gradient(linear, left top, right top, color-stop(0, var(--success-hover)), to(transparent));
                background: linear-gradient(to right, var(--success-hover) 0 calc(50%), transparent calc(50%) 100%);
                background-size: 250% 100%;
                background-position: 100% 50%;
            }
            &.danger{
                background: -webkit-gradient(linear, left top, right top, color-stop(0, var(--danger-hover)), to(transparent));
                background: linear-gradient(to right, var(--danger-hover) 0 calc(50%), transparent calc(50%) 100%);
                background-size: 250% 100%;
                background-position: 100% 50%;
            }
            &.primary{
                background: -webkit-gradient(linear, left top, right top, color-stop(0, var(--primary-hover)), to(transparent));
                background: linear-gradient(to right, var(--primary-hover) 0 calc(50%), transparent calc(50%) 100%);
                background-size: 250% 100%;
                background-position: 100% 50%;
            }
            &:hover{
                color: var(--white);
                background-position: 5% 50%;
                -webkit-transition: 300ms all;
                transition: 300ms all;
                -webkit-box-shadow: 0px 0px 0px 3px var(--primary-hover) inset;
                box-shadow: 0px 0px 0px 3px var(--primary-hover) inset;
                &.dark{
                    -webkit-box-shadow: 0px 0px 0px 3px var(--black) inset;
                    box-shadow: 0px 0px 0px 3px var(--black) inset;
                }
                &.light{
                    -webkit-box-shadow: 0px 0px 0px 3px var(--white) inset;
                    box-shadow: 0px 0px 0px 3px var(--white) inset;
                    color: var(--black);
                }  
                &.mid{
                    -webkit-box-shadow: 0px 0px 0px 3px var(--mid-dark) inset;
                    box-shadow: 0px 0px 0px 3px var(--mid-dark) inset;
                }  
                &.success{
                    -webkit-box-shadow: 0px 0px 0px 3px var(--success-hover) inset;
                    box-shadow: 0px 0px 0px 3px var(--success-hover) inset;
                }  
                &.danger{
                    -webkit-box-shadow: 0px 0px 0px 3px var(--danger-hover) inset;
                    box-shadow: 0px 0px 0px 3px var(--danger-hover) inset;
                } 
            }
        }
    }
}


// Accessibility : Reduced Motion

@media(prefers-reduced-motion){
    html{
        scroll-behavior: none;
    }

    .theme{
        transition: background-color 50ms linear;
        -moz-transition: background-color 50ms linear;
    }
}
