@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --font-default: 'Barlow', sans-serif;
  --font-condensed: 'Barlow Condensed', sans-serif;
  --font-monospace: monospace;
  --dark: #2C2C2C;
  --mid-dark: #5A5A5A;
  --light: #E4E4E4;
  --white: #fcfcfc;
  --black: #050505;
  --primary: #56b7ec;
  --primary-hover: #418cb5;
  --success: #6DE28E;
  --success-hover: #1e9b41;
  --danger: #df4848;
  --danger-hover: #9b1e1e;
  --grey: #707070;
  --taubmans-light-bulb: #ffbb73;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-default);
  margin: 0;
  padding: 0;
}

.text.condensed {
  font-family: var(--font-condensed);
}

.text.monospace {
  font-family: var(--font-monospace);
}

.text.hyperlink {
  color: #2b56a0;
}

.text.body {
  font-size: 100%;
  opacity: 80%;
  font-weight: 300;
}

.text.caption {
  font-size: 110%;
  opacity: 80%;
  font-weight: 300;
}

.text.subtitle {
  font-size: 115%;
  opacity: 95%;
  font-weight: 500;
}

.text.title {
  font-size: 120%;
  opacity: 95%;
  font-weight: 500;
}

.text.muted {
  font-size: 70%;
  opacity: 50%;
  font-weight: 150;
}

.theme {
  -webkit-transition: background-color 50ms linear;
  transition: background-color 50ms linear;
  -moz-transition: background-color 50ms linear;
}

.theme.light {
  background-color: var(--light);
  color: var(--black);
}

.theme.dark {
  background-color: var(--dark);
  color: var(--white);
}

.bg.primary {
  background: var(--primary);
  color: var(--black);
}

.bg.primary.button:hover, .bg.primary.reactive:hover {
  background: var(--primary-hover);
  color: var(--white);
}

.bg.success {
  background: var(--success);
  color: var(--black);
}

.bg.success.button:hover, .bg.success.reactive:hover {
  background: var(--success-hover);
  color: var(--white);
}

.bg.danger {
  background: var(--danger);
  color: var(--white);
}

.bg.danger.button:hover, .bg.danger.reactive:hover {
  background: var(--danger-hover);
  color: var(--white);
}

.bg.dark {
  background: var(--dark);
  color: var(--white);
}

.bg.dark.button:hover, .bg.dark.reactive:hover {
  background: var(--black);
  color: var(--white);
}

.bg.light {
  background: var(--light);
  color: var(--black);
}

.bg.light.button:hover, .bg.light.reactive:hover {
  background: var(--white);
}

.bg.mid {
  background: var(--grey);
  color: var(--white);
}

.bg.mid.button:hover, .bg.mid.reactive:hover {
  background: var(--mid-dark);
  color: var(--white);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.row, .flex .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex.column, .flex .column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex.column.left, .flex .column.left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex.column.right, .flex .column.right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex.column.center-x, .flex .column.center-x {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex.column.top, .flex .column.top {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.flex.column.center-y, .flex .column.center-y {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.column.bottom, .flex .column.bottom {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.flex .space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex .space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex .space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.center-y {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.center-x {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.center-xy {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 10px;
}

.container.fluid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 4% 0%;
}

.container.fill-height {
  height: 100%;
}

.container.fill-width {
  width: 100%;
}

.container.fill-screen {
  height: 100vh;
}

.toast {
  width: unset;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 4px;
  border-radius: 2px;
}

.toast .title {
  font-size: 110%;
  font-weight: 500;
}

.toast.dismissible .cross {
  display: block;
}

.toast .cross {
  cursor: pointer;
  display: none;
}

.toast .fluid {
  width: 100%;
  margin: 0;
}

.toast[data-position="top"] {
  width: 100%;
  position: absolute;
  top: 0;
  margin-top: 0;
}

.toast[data-position="bottom"] {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

.toast[data-visible=false] {
  display: none;
}

.toast[data-visible=true] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  cursor: pointer;
  color: inherit;
  padding: 1%;
  text-decoration: none;
  font-family: var(--ft-condensed);
  font-size: 120%;
  font-weight: 500;
  border-radius: 2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--black);
  background-color: var(--primary);
}

.button:hover {
  background-color: var(--primary-hover);
  color: white;
}

.button.outlined {
  padding: 1%;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 0px 3px var(--black) inset;
  box-shadow: 0px 0px 0px 3px var(--black) inset;
}

.button.outlined.primary {
  -webkit-box-shadow: 0px 0px 0px 3px var(--primary) inset;
  box-shadow: 0px 0px 0px 3px var(--primary) inset;
  color: var(--primary);
}

.button.outlined.success {
  -webkit-box-shadow: 0px 0px 0px 3px var(--success) inset;
  box-shadow: 0px 0px 0px 3px var(--success) inset;
  color: var(--success);
}

.button.outlined.danger {
  -webkit-box-shadow: 0px 0px 0px 3px var(--danger) inset;
  box-shadow: 0px 0px 0px 3px var(--danger) inset;
  color: var(--danger);
}

.button.outlined.dark {
  -webkit-box-shadow: 0px 0px 0px 3px var(--dark) inset;
  box-shadow: 0px 0px 0px 3px var(--dark) inset;
  color: var(--dark);
}

.button.outlined.light {
  -webkit-box-shadow: 0px 0px 0px 3px var(--light) inset;
  box-shadow: 0px 0px 0px 3px var(--light) inset;
  color: var(--light);
}

.button.outlined.mid {
  -webkit-box-shadow: 0px 0px 0px 3px var(--grey) inset;
  box-shadow: 0px 0px 0px 3px var(--grey) inset;
  color: var(--grey);
}

.button.outlined:hover {
  -webkit-box-shadow: 0px 0px 0px 3px var(--primary-hover) inset;
  box-shadow: 0px 0px 0px 3px var(--primary-hover) inset;
  color: var(--primary-hover);
}

.icon-button {
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--primary);
  color: black;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

.icon-button:hover {
  width: 150px;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  background-color: var(--primary-hover);
  color: white;
}

.icon-button .label {
  font-family: var(--font-condensed);
  font-size: 90%;
  font-weight: 500;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

.icon-button:hover .label:before {
  margin: 0 10px;
  content: attr(data-label);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

@media screen and (max-width: 900px) {
  .button {
    padding: 2%;
  }
  .button.outlined {
    padding: 3%;
  }
}

@media screen and (min-width: 901px) {
  .button.outlined {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, var(--primary-hover)), to(transparent));
    background: linear-gradient(to right, var(--primary-hover) 0 calc(50%), transparent calc(50%) 100%);
    background-size: 250% 100%;
    background-position: 100% 50%;
    -webkit-transition: 300ms all;
    transition: 300ms all;
  }
  .button.outlined.dark {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, var(--black)), to(transparent));
    background: linear-gradient(to right, var(--black) 0 calc(50%), transparent calc(50%) 100%);
    background-size: 250% 100%;
    background-position: 100% 50%;
  }
  .button.outlined.light {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, var(--white)), to(transparent));
    background: linear-gradient(to right, var(--white) 0 calc(50%), transparent calc(50%) 100%);
    background-size: 250% 100%;
    background-position: 100% 50%;
  }
  .button.outlined.mid {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, var(--mid-dark)), to(transparent));
    background: linear-gradient(to right, var(--mid-dark) 0 calc(50%), transparent calc(50%) 100%);
    background-size: 250% 100%;
    background-position: 100% 50%;
  }
  .button.outlined.success {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, var(--success-hover)), to(transparent));
    background: linear-gradient(to right, var(--success-hover) 0 calc(50%), transparent calc(50%) 100%);
    background-size: 250% 100%;
    background-position: 100% 50%;
  }
  .button.outlined.danger {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, var(--danger-hover)), to(transparent));
    background: linear-gradient(to right, var(--danger-hover) 0 calc(50%), transparent calc(50%) 100%);
    background-size: 250% 100%;
    background-position: 100% 50%;
  }
  .button.outlined.primary {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, var(--primary-hover)), to(transparent));
    background: linear-gradient(to right, var(--primary-hover) 0 calc(50%), transparent calc(50%) 100%);
    background-size: 250% 100%;
    background-position: 100% 50%;
  }
  .button.outlined:hover {
    color: var(--white);
    background-position: 5% 50%;
    -webkit-transition: 300ms all;
    transition: 300ms all;
    -webkit-box-shadow: 0px 0px 0px 3px var(--primary-hover) inset;
    box-shadow: 0px 0px 0px 3px var(--primary-hover) inset;
  }
  .button.outlined:hover.dark {
    -webkit-box-shadow: 0px 0px 0px 3px var(--black) inset;
    box-shadow: 0px 0px 0px 3px var(--black) inset;
  }
  .button.outlined:hover.light {
    -webkit-box-shadow: 0px 0px 0px 3px var(--white) inset;
    box-shadow: 0px 0px 0px 3px var(--white) inset;
    color: var(--black);
  }
  .button.outlined:hover.mid {
    -webkit-box-shadow: 0px 0px 0px 3px var(--mid-dark) inset;
    box-shadow: 0px 0px 0px 3px var(--mid-dark) inset;
  }
  .button.outlined:hover.success {
    -webkit-box-shadow: 0px 0px 0px 3px var(--success-hover) inset;
    box-shadow: 0px 0px 0px 3px var(--success-hover) inset;
  }
  .button.outlined:hover.danger {
    -webkit-box-shadow: 0px 0px 0px 3px var(--danger-hover) inset;
    box-shadow: 0px 0px 0px 3px var(--danger-hover) inset;
  }
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: none;
  }
  .theme {
    -webkit-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
    -moz-transition: background-color 50ms linear;
  }
}
/*# sourceMappingURL=index.css.map */