@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --font-default: 'Barlow', sans-serif;
  --font-condensed: 'Barlow Condensed', sans-serif;
  --font-monospace: monospace;
  --dark: #2C2C2C;
  --mid-dark: #5A5A5A;
  --light: #E4E4E4;
  --white: #fcfcfc;
  --black: #050505;
  --primary: #B1C3D3;
  --primary-hover: #528ec2;
  --success: #6DE28E;
  --success-hover: #1e9b41;
  --danger: #df4848;
  --danger-hover: #9b1e1e;
  --grey: #707070;
  --taubmans-light-bulb: #ffbb73;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-default);
  margin: 0;
  padding: 0;
}

.text.condensed {
  font-family: var(--font-condensed);
}

.text.monospace {
  font-family: var(--font-monospace);
}

.text.hyperlink {
  color: #2b56a0;
}

.text.body {
  font-size: 100%;
  opacity: 80%;
  font-weight: 300;
}

.text.caption {
  font-size: 110%;
  opacity: 80%;
  font-weight: 300;
}

.text.subtitle {
  font-size: 115%;
  opacity: 95%;
  font-weight: 500;
}

.text.title {
  font-size: 120%;
  opacity: 95%;
  font-weight: 500;
}

.text.muted {
  font-size: 70%;
  opacity: 50%;
  font-weight: 150;
}

.theme {
  -webkit-transition: background-color 50ms linear;
  transition: background-color 50ms linear;
  -moz-transition: background-color 50ms linear;
}

.theme.light {
  background-color: var(--light);
  color: var(--black);
}

.theme.dark {
  background-color: var(--dark);
  color: var(--white);
}

.bg.primary {
  background: var(--primary);
}

.bg.primary.button:hover, .bg.primary.reactive:hover {
  background: var(--primary-hover);
}

.bg.success {
  background: var(--success);
}

.bg.success.button:hover, .bg.success.reactive:hover {
  background: var(--success-hover);
}

.bg.danger {
  background: var(--danger);
}

.bg.danger.button:hover, .bg.danger.reactive:hover {
  background: var(--danger-hover);
}

.bg.dark {
  background: var(--dark);
}

.bg.dark.button:hover, .bg.dark.reactive:hover {
  background: var(--black);
}

.bg.light {
  background: var(--light);
}

.bg.light.button:hover, .bg.light.reactive:hover {
  background: var(--white);
}

.bg.mid {
  background: var(--grey);
}

.bg.mid.button:hover, .bg.mid.reactive:hover {
  background: var(--mid-dark);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.row, .flex .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex.column, .flex .column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex.column.left, .flex .column.left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex.column.right, .flex .column.right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex.column.center-x, .flex .column.center-x {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex.column.top, .flex .column.top {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.flex.column.center-y, .flex .column.center-y {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.column.bottom, .flex .column.bottom {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.flex .space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex .space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex .space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.center-y {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.center-x {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.center-xy {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 10px;
}

.container.fluid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 4% 0%;
}

.container.fill-height {
  height: 100%;
}

.container.fill-width {
  width: 100%;
}

.container.fill-screen {
  height: 100vh;
}

.toast {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toast .title {
  font-size: 110%;
  font-weight: 400;
}

.toast.dismissable .cross {
  display: block;
}

.toast .cross {
  display: none;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: none;
  }
  .theme {
    -webkit-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
    -moz-transition: background-color 50ms linear;
  }
}
/*# sourceMappingURL=index.css.map */